[bumpver]
current_version = "2023.08.1008"
version_pattern = "YYYY.0M.BUILD"
commit_message = "bump version {old_version} -> {new_version}"
commit = true
tag = true
push = false

[bumpver.file_patterns]
"README.md" = [
    "{version}",
]
"bumpver.toml" = [
    'current_version = "{version}"',
]
"app/build.gradle" = [
    'versionName "{version}"',
    'versionCode BUILD'
]
