name: Deploy Production

on: workflow_dispatch

jobs:
  production:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          ssh-key: ${{ secrets.RELEASE_SSH_KEY }}
      - uses: ruby/setup-ruby@v1.190.0
        with:
          bundler-cache: true
      - name: Set up Java
        uses: actions/setup-java@v4.2.1
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Setup build dependencies
        run: make py-deps
      - name: Configure Git user
        run: |
          git config user.name "GV Bot"
          git config user.email "137118308+gvcis-bot@users.noreply.github.com"
      - name: Bump version
        run: bumpver update
      - name: Deploy App to Production
        env:
          ENCODED_GOOGLE_ANALYTICS_KEY: ${{ secrets.ENCODED_GOOGLE_ANALYTICS_KEY }}
          ENCODED_GOOGLE_PLAY_CREDENTIALS: ${{ secrets.ENCODED_GOOGLE_PLAY_CREDENTIALS }}
          ENCODED_GOOGLE_MAPS_KEY: ${{ secrets.ENCODED_GOOGLE_MAPS_KEY }}
          ENCODED_GOOGLE_SERVICES: ${{ secrets.ENCODED_GOOGLE_SERVICES }}
          ENCODED_PROJECT_PROPERTIES: ${{ secrets.ENCODED_PROJECT_PROPERTIES }}
          ENCODED_RELEASE_KEYSTORE: ${{ secrets.ENCODED_RELEASE_KEYSTORE }}
          ENCODED_SECRETS_PROPERTIES: ${{ secrets.ENCODED_SECRETS_PROPERTIES }}
          SLACK_URL: ${{ secrets.SLACK_URL }}
        run: make deploy-production
      - name: Sync versioning to Main
        run: git push --follow-tags
